<!DOCTYPE html>
@model FavoriteMovies.Models.Movie

<html>
    <head>
        <link href="site.css" rel="stylesheet" type="text/css" />        
        <title>Favorite Movies</title>
    </head>
    <body>
        <div class = "header">
        <h1> Welcome to the Favorite Movie Collector</h1></div>
        <div id = "indexSearch">
        <h2>Users must sign in to save movies to their collection.</h2>
        <h2>Guests may still use the API to browse movies.</h2>

    <form action="movie" asp-controller="Movie" method="post">
            <label for="Title"></label>
            <input name="Title" placeholder = "type your movie title here"><br>
            <input type="submit" value = "Search by Title">
    </form>
        </div> 
    </body>   
    
</html>