<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="site.css" type ="text/css">    
        <meta charset='utf-8'>
        <title>Favorite Movies</title>
    </head>
    <body>
        <h1>Welcome to the Favorite Movie collector</h1>
        <h2>Users must sign in to save movies to their collection</h2>

    <form action="TitleSearch" asp-controller="Movie" method="get">
        <div>
            <label asp-for="Title"></label>
            <input asp-for="Title" placeholder = "type your movie title here"><br>
            <input type="submit" value = "Search by Title">
        </div>
    </form>
    </body>
</html>