<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Favorite Movies</title>
    </head>
    <body>
        <h1>Welcome to the Favorite Movie collector</h1>

    <form asp-action="Search" asp-contoroller="Movie" method="post">
        <div>
            <label asp-for="Title"></label>
            <input asp-for="Title"><br>
            <input type="submit" value = "Search by Title">

        </div>
    </form>
    </body>
</html>